div.slideshow {
  width: 150px;
  overflow: hidden;
  margin: 25px auto;
  /* background: white; */
}

div.photobanner {
  height: 150px;
  width: 300px; /*! needs to be width of images combined */
}
img {
  display: inline-block;
  height: 150px;
}

.first {
  animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -300px; /*! needs to be width of images combined */
  }
  100% {
    margin-left: 0px;
  }
}
